
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ankur's Portfolio</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header id="header">
    <div id="name" class="ankur-text">Ankur.</div>
    <nav>
      <a href="#home">Home</a>
      <a href="/about">About</a>
      <a href="/skills">Skills</a>
      <a href="https://docs.google.com/document/d/1D5rfiikMiMccQTkRg4vPzsjK_6-FKyjJyfASq69zMII/edit?usp=sharing">Resume</a>
    </nav>
    <div id="social-icons">
      <a href="https://wa.me/917388582416" target="_blank" id="whatsapp-icon"><img src="/images/Whatsapp.png" alt="WhatsApp"></a>
      <a href="www.instagram.com/ankurpandey3085" target="_blank" id="whatsapp-icon"><img src="/images/Instagram.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/in/ankur-pandey-87a0b91b6/" target="_blank" id="whatsapp-icon"><img src="/images/Linkedin.png" alt="Linkedin"></a>
      
    </div>
  </header>
 
  
  <div id="cover">
    <div id="content">
      <div id="text-container">
        <div id="title">Hi, my name is Ankur</div>
        <div id="role" class="typing-effect">
          <span>F</span>
          <span>r</span>
          <span>o</span>
          <span>n</span>
          <span>t</span>
          <span>e</span>
          <span>n</span>
          <span>d</span>
          <span> </span>
          <span>D</span>
          <span>e</span>
          <span>v</span>
          <span>e</span>
          <span>l</span>
          <span>o</span>
          <span>p</span>
          <span>e</span>
          <span>r</span>
        </div>
        <p id="description">
          Hi, I'm a proactive third-year student pursuing internships to blend theory with real-world experience. With a
      solid foundation in Computer Science with Business Systems, I'm ready to apply my skills in dynamic settings. My academic success, coupled
      with strong interpersonal skills that I developed from leading groups in multiple events, positions me as a dedicated and adaptable candidate.
      I'm interested in business management along with technology and believe in the transformative power of technology to propel
      businesses to new heights..
        </p>
        <a href="mailto:ankurpandey3085@gmail.com"> <button id="hireBtn">Hire Me</button></a>
        <button id="contactBtn">Contact Me</button>
      </div>
    </div>
  </div>


  <script src="/app.js"></script>
</body>
</html>

